@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1450px !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9 !important;
}

header {
  background-color: rgb(249, 246, 246);
  color: black;
  padding: 20px;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

li a {
  text-decoration: none;
  font-size: large;
  align-items: center;
}

li a:hover {
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 15px;
}

form {
  width: 380px;
  background: white;
  margin-top: 30px;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  height: 45px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel-indicators button {
  width: 7px !important;
  height: 7px !important;
  border-radius: 100%;
  background-color: #171723 !important;
  margin: 4px;
  transition: all 0.3s ease;
}

.carousel-indicators .active {
  background-color: #000 !important;
  width: 12px;
  height: 12px;
}

.custom-indicators {
  bottom: -10px !important;
}

.skeleton {
  background: linear-gradient(90deg,
      #e0e0e0 25%,
      #f5f5f5 37%,
      #e0e0e0 63%);
  background-size: 400% 100%;
  animation: shimmer 1.2s infinite ease-in-out;
  border-radius: 6px;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.skeleton-img {
  height: 280px;
}

.skeleton-text {
  height: 14px;
  width: 100%;
  margin-top: 6px;
}

.skeleton-text.small {
  width: 70%;
}

.skeleton-btn {
  height: 36px;
  width: 100%;
  border-radius: 6px;
}

.pleft {
  padding-left: 10% !important;
}

.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.category-section {
  background: #fff;
  margin-top: 25px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.category-header h5 {
  font-weight: 620;
  font-size: 22px;
}

.arrow-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: #2874f0;
  color: #fff;
  font-size: 18px;
}

.arrow-btn1 {
  width: 32px;
  height: 32px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.product-box {
  text-align: center;
  cursor: pointer;
  border: 1px solid #eae4e4;
}

.product-box img {
  width: 100%;
  height: 190px;
  object-fit: contain;
  transition: transform 0.3s ease;
  padding: 15px;
}

.product-box:hover img {
  transform: scale(1.02);
}

.product-box h6 {
  margin-top: 10px;
  font-size: 17px;

}

.offer {
  color: green;
  font-size: 16px;
  font-weight: 600;
}

.homepage-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.hf-slider {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.hf-slider::-webkit-scrollbar {
  display: none;
}

.hf-card {
  min-width: 190px;
  padding: 10px;
}

.hf-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 190px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.hf-card:hover img {
  transform: scale(1.02);
}

.slider-arrow {
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.thumb-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  cursor: pointer;
}

.main-img {
  max-height: 450px;
  object-fit: contain;
}

.hf-slider {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.hf-card {
  min-width: 180px;
  flex-shrink: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  background: #fff;
}

.product-card h5 {
  font-size: 22px;
}

.product-card p {
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.product-img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.scroll-btn-up {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 1000;
  border-radius: 50% !important;
  width: 36px;
  height: 36px;
}

.scroll-btn-down {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 1000;
  border-radius: 50% !important;
  width: 36px;
  height: 36px;
}

@media (max-width: 992px) {
  .hf-card {
    min-width: 200px;
  }

  .homepage-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .thumb-img {
    width: 50px;
    height: 50px;
  }

  .main-img {
    max-height: 300px;
  }
}


@media (max-width: 576px) {
  .scroll-btn-up {
    bottom: 50px;
    right: 15px;
  }

  .scroll-btn-down {
    bottom: 10px;
    right: 15px;
  }

  .product-img {
    height: 150px;
    object-fit: contain;
  }

  .product-card h5 {
    font-size: 11px !important;
  }

  .product-card p {
    font-size: 10px !important;
  }

  .product-card .text-muted {
    display: none;
  }

  .product-card .btn {
    font-size: 10px;
    padding: 4px 8px;
  }

  .carousel-item img {
    min-height: 150px;
  }

  .hf-card {
    min-width: 160px;
  }

  .slider-arrow {
    display: none;
  }

  .homepage-grid {
    grid-template-columns: 1fr;
  }

  .btn-secondary {
    width: 35px !important;
    height: 35px !important;
  }

  .category-header h5,
  .category-header h4 {
    font-size: 18px;
  }

  .carousel-inner img {
    height: 100px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .product-box h6 {
    margin-top: 10px;
    font-size: 15px;
  }

  .offer {
    color: green;
    font-size: 12px;
    font-weight: 600;
  }

  .product-box img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;
    padding: 8px;
  }
}

.category-dropdown .dropdown-menu {
  border: none !important;
  box-shadow: none !important;
  /* margin-top: 8px !important; */
  padding: 10px;
}

.category-dropdown .dropdown-item:hover {
  background-color: #e7f1ff;
}

.category-dropdown .dropdown-toggle::after {
  display: none !important;
}
